<div class="main_content_div">

	<h1>Nueva Subcategoría</h1>

	<%= render 'form', subcategory: @subcategory %>

	<br>

	<%= link_to 'Regresar', subcategories_path, class: 'custom_link_red' %>

</div>
