<!-- navigation -->
	<div class="navigation-agileits">
			<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header nav_2">
								<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div> 
							<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
								<ul class="nav navbar-nav">
									<li class="active"><%= link_to "Inicio", root_path %></li>	
									<!-- Mega Menu -->
									
									<% @categories.each do |category| %>
										<li class="dropdown">
								  			<%= link_to category.title, category, class: "dropdown-toggle", 'data-toggle' => 'dropdown'  %>
								  			<!-- Validar un limite de categorias para lo largo del menu, si se pasa de un limite negar el create -->
								  		</li>
							  		<% end %>
							  		
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Comestibles<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>Mostrar todos</h6>												
														<li><a href="#">Almedras</a></li>
														<li><a href="#">Frutas deshidratadas</a></li>
														<li><a href="#">Nueces</a></li>
														<li><a href="#"> Dulces </a></li>
														<li><a href="#">Otros</a></li>
													</ul>
												</div>	
												
											</div>
										</ul>
									</li>																		
									<li><a href="offers.html">Ofertas</a></li>
									<li><a href="contact.html">Contacto</a></li>
								</ul>
							</div>
							</nav>			
		</div>		
<!-- //navigation -->