<div class="main_content_div">
	<center><h1>Panel de Aministración General</h1></center>

	<ul>
		<li class="admin_list"><%= link_to 'Usuarios', '/admin/users' %></li>
		<li class="admin_list"><%= link_to 'Categorías', '/categories' %></li>
		<li class="admin_list"><%= link_to 'Productos', '/admin/settings/products' %></li>
	</ul>	

</div>

