.large_padding{
	padding: 200px 10px;
}

.no_top_padding{
	padding-top: 0em !important;
}

.main_content_div{
	width: 80%; 
	height: 100%; 
	margin: 0 auto; 
	padding-bottom: 20px;
}

.admin_list{
	font-size: 1.4em;
}

.custom_link_blue{
	color: blue !important; 
}

.custom_link_red{
	color: red !important; 
}

.custom_link_white a:visited:hover{
	color: white !important; 
}

a:link { color: black; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:visited:hover { color: black; text-decoration: none; }
a:hover { color: black; text-decoration: none; }
a:active { color: black; text-decoration: none; } 