<div class="main_content_div">

		<h1>Nueva Categoría</h1>

		<%= render 'form', category: @category %>	
		<br>
		<%= link_to 'Regresar al Panel', '/categories', class: 'custom_link_red', style: 'font-size: 1.3em' %>	

</div>