<div style="width: 80%; height: 100%; margin: 0 auto; padding-bottom: 20px;">
	<center><h1>Productos</h1></center>
	<%= link_to 'Nuevo Producto', new_product_path %>

	  <div class="row"> 
	    <%= render @products %>
	  </div>
</div>


